<a href="https://colab.research.google.com/github/shayan-saif/Spam-Mail/blob/main/Support_Vector_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Data

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/shayan-saif/Spam-Mail/main/spam_ham_dataset.csv'
df = pd.read_csv(url)
df.describe()

        Unnamed: 0    label_num
count  5171.000000  5171.000000
mean   2585.000000     0.289886
std    1492.883452     0.453753
min       0.000000     0.000000
25%    1292.500000     0.000000
50%    2585.000000     0.000000
75%    3877.500000     1.000000
max    5170.000000     1.000000

Removing the text label column

In [ ]:
df.drop(['Unnamed: 0', 'label'], axis=1, inplace=True)
df.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

Splitting the data into training (80%) and testing (20%)

In [ ]:
from sklearn.model_selection import train_test_split

X = df['text']
y = df.label_num
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

Using CountVectorizer to transform the text into an array of words + occurrence

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
features = cv.fit_transform(X_train)

Training my model with Support Vector Classification from Sklearn

In [ ]:
from sklearn.svm import SVC

model = SVC()
model.fit(features, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Checking the accuracy of the model

In [ ]:
features_test = cv.transform(X_test)
model.score(features_test, y_test)

0.9565217391304348

Testing a REAL spam message from my email

In [ ]:
test_msg_raw = ["""
Hey, Landlord!
 

How does it feel to be rich?

 

You have already made the first step to learn the answer.

 

You can download Landlord Go!

 

This game can help you learn secrets of real estate investments in a quick, fun and entertaining way!

 

Just click below and get your first FIFTY millions and 100 coins for free!

 

All the best,

 

John M. Pyre
"""]

In [ ]:
test_msg = cv.transform(test_msg_raw)
pred = model.predict(test_msg)
pred

if pred == [1]:
  print("This email is classified as spam")
else:
  print("This email is NOT classified as spam")

This email is classified as spam